{% extends "::base.html.twig" %}

{% block title %}{{ parent() }}Usecase{% endblock %}

{% block header %}
{{ parent() }}
<link rel="stylesheet" href="{{ asset('mixstore/css/store/view-usecase.css') }}">
{% endblock %}

{% block content %}

<div id="header" class="row">
	<h2>{{ ucs.institution }}</h2>
	<h4>{{ ucs.package.name }}</h4>
</div>

<div id="description" class="row">
	{{ ucs.description | raw }}
</div>

<div id="contact" class="row">
	<a href="mailto:{{ ucs.contact }}">Contact</a>
</div>

<div id="moreinfo" class="row">
<p>
	Grade: {{ ucs.grade }}
</p>
<p>
	Last updated: {{ ucs.modified | date('Y-m-d / H:i:s') }}
</p>
</div>

{% if owner or is_granted('ROLE_ADMIN') %}
<div id="admin" class="row">
<div class="col-xs-6 flush-right">
	<a href="{{ path('mixstore_store_usecase_upsert', { id: ucs.id }) }}"><button type="button" class="btn btn-primary">Edit</button></a>
</div>
<div class="col-xs-6">
	<a href="{{ path('mixstore_store_usecase_delete', { id: ucs.id }) }}"><button type="button" class="btn btn-primary">Delete</button></a>
</div>
</div>
{% endif %}

{% endblock %}
